/* ten  */
  .video{
      width: 80%;
      height:30% ;
      
    }

    .comment{
        width: 80%;
        height:30% ;
    }

    .relate{
        width: 80%;
        height:30% ;
    }

    img.filmwatching{
        vertical-align: middle;
        border-style: none;
        height: 500px;
        width: 750px;
    }
/* end */
/*comment*/

.detailBox1 {
    height: 500px;
    border:1px solid #bbb; 
}
.commentList1 {
    padding:0;
    list-style:none;
    max-height:300px;
    overflow:auto;
    height: 350px;
    width: 100%;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:1120px;
    border:1px solid #bbb;
    margin: 50px 400px 50px ;
    
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
    height: 350px;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

@media (max-width: 768px) { 
    .detailBox {
        width:760px;
        border:1px solid #bbb;
        margin: 100px  ;
        
    }
}


/* Màng hình máy tính bảng nhỏ hoặc máy tính màng hình nhỏ */
@media (min-width: 768px) and (max-width: 991px) {
    .detailBox {
        width:760px;
        border:1px solid #bbb;
        margin: 50px  ;
        
    }
}


