<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/fliter.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <!-- LỌc -->
    <section id="Loc">
        <div class="container">
            <div class="row bg-danger" style="height:150px">
                <div class="col-md-6">
                    <h5>Sắp xếp</h5>
                    <div class="btn-btn-primari">Mới nhất</div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </section>
    <!-- end -->
    <!-- List -->
        <section class="py-5"> 
            <div class="container">
                <div class="row bg-primary" style="height:1100px">
                    
                </div>
            </div>
        </section>
    <!-- end -->
</body>
</html>